# This requirements file lists all third-party dependencies for this project.
#

# setup dependencies
pip

# app dependencies
requests
python-symphony-binding
pytz
lxml
configparser
bs4
pyopenssl
httpretty
